esb/muleesb-comparision/src/main/app/rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="outboundRestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="rest/outbound" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="Rest_Request_Configuration" path="rest/post" method="POST" doc:name="HTTP"/>
    </flow>
    <flow name="inboundRestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rest/inbound" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#['']" doc:name="Set Payload"/>
    </flow>
</mule>
